.video-container {
  width: 780px;
  height: 400px;
  border: 1px solid black;
  display: flex;
  flex-flow: column;
  align-items: flex-start;
  padding-left: 3rem;
}
.video-section-2 {
  padding-top: 5rem;
  column-gap: 2rem;
  display: flex;
}
.video-container-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.video-icon {
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
}
.video-container-icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.sidebar-video-card-container {
  display: flex;
  flex-direction: column;
}
.sidebar-video-card {
  border: 1px solid black;
  display: flex;
  padding: 0.5rem;
}
.sidebar-video-img-container {
  width: 200px;
  height: 150px;
}
.sidebar-video-img {
  width: 100%;
}
.sidebar-video-content-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  row-gap: 0.25rem;
}
.playlist-modal-hide {
  display: none;
}
.playlist-modal {
  position: absolute;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  padding: 1rem;
  width: 280px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  background-color: #e0e7ff;
}
.playlist-modal-badge {
  position: absolute;
  top: 3%;
  right: 1%;
}
.playlist-modal-top-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.individual-playlist {
  display: flex;
  justify-content: flex-start;
  column-gap: 0.5rem;
  align-items: center;
  padding: 0.5rem 0;
}
.btn-like {
  display: flex;
  align-items: center;
  column-gap: 0.5rem;
}
/* @media only screen and(max-width: 768px) {
  .video-container {
    max-width: 780px;
    height: 400px;
  }
} ; */
