@import "./css/nav.css";
@import "./css/displayvideo.css";
@import "./css/login.css";
@import "./css/playlist.css";
:root {
  --light-purple: #f3e8ff;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-columns: 0.5fr 1.5fr 1fr;
  grid-template-areas:
    "nav nav nav"
    "sidebar main main";
}
.nav {
  grid-area: nav;
}

.video-sidebar {
  grid-area: sidebar;
  position: fixed;
  top: 10%;
  width: 16%;
  height: 100%;
  background-color: var(--light-purple);
}
.sidebar-with-icons {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
}
.main {
  grid-area: main;
  border: 1px solid aquamarine;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  row-gap: 1rem;
  margin-top: 5rem;
}
.video-card-container {
  display: flex;
  flex-flow: column wrap;
  border: 1px solid black;
  max-width: 300px;
  box-sizing: border-box;
}

.video-content-container {
  display: flex;
  align-items: stretch;
  justify-content: flex-start;
  column-gap: 0.75rem;
}
.video-img-container {
  max-width: 20rem;
  max-height: 15rem;
  position: relative;
}
.video-duration-badge {
  position: absolute;
  background-color: #c1c1c1;
  padding: 0.25rem;
  border-radius: 0.5rem;
  bottom: 10px;
  right: 5px;
}
.video-img {
  width: 100%;
}
.video-text-container {
  display: flex;
  flex-flow: column wrap;
  align-items: flex-start;
  justify-content: flex-end;
}
.creator-avatar {
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
}
.video-text-container p {
  font-size: 14px;
}
.video-text-container h3 {
  font-size: 0.9rem;
}
.sidebar-item {
  display: flex;
  justify-items: space-between;
  align-items: center;
  column-gap: 0.75rem;
  margin: 0.5rem 0;
  padding: 0 0.75rem;
}
.sidebar-item-icon {
  font-size: 1.25rem;
}
@media only screen and (max-width: 768px) {
  .sidebar-item-icon {
    font-size: 0.9rem;
  }
}
